<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="Server" xsi:type="File"
				openFileCacheTimeout="10"
				keepFileOpen="true"
				archiveNumbering="Date"
				archiveEvery="Hour"
				archiveDateFormat="yyyy-MM-dd-HH"
				archiveFileName="${basedir}/Logs/${var:serverId}.{#}.log"
				fileName="${basedir}/Logs/${var:serverId}.${date:format=yyyy-MM-dd-HH}.log"
				deleteOldFileOnStartup="false"
				layout="${longdate} [${uppercase:${level}}]- ${message} ${exception:format=ToString}" />
	</targets>

	<targets async="true">
		<target name="Custom" xsi:type="File"
				openFileCacheTimeout="10"
				keepFileOpen="true"
				archiveNumbering="Date"
				archiveEvery="Hour"
				archiveDateFormat="yyyyMMddHH"
				archiveFileName="${basedir}/Logs/${var:serverId}.{#}.log"
				fileName="${basedir}/Logs/${var:serverId}.${date:format=yyyy-MM-dd-HH}.log"
				deleteOldFileOnStartup="false"
				layout="${longdate} [${uppercase:${level}}]- ${message} ${exception:format=ToString}" />
	</targets>


	<rules>
		<logger name="Server" minlevel="Info" maxlevel="Error" writeTo="Server" />
	</rules>
</nlog>